<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/deepa/Documents/Barkha new intellij/AutomationFramework"><classes><class name="PageTestPackage.HomePageTest"><methods><include name="Testlogo"/><include name="Testfreestudent"/><include name="verifylogin"/></methods></class><class name="PageTestPackage.LandingPageTest"><methods><include name="Testwbl"/><include name="Testmailid"/></methods></class><class name="PageTestPackage.LoginPageTest"><methods><include name="Testlogin"/></methods></class></classes></test></suite>